<ul class="post-list">
    $for(posts)$
        <li class="post-item">
            <div class="post-entry">
                <div class="post-date">
                    <span class="post-meta">$date$</span>
                </div>
                <div class="post-title">
                    <a href="$url$">$title$</a>
                    $if(tags)$<span class="post-tags"> · $tags$</span>$endif$
                    $if(categoryLabel)$<span class="post-category"> · $categoryLabel$</span>$endif$
                    $if(readtime)$<span class="post-readtime"> · $readtime$</span>$endif$
                </div>
            </div>
        </li>
    $endfor$
</ul>
