<ul class="post-list">
    $for(posts)$
        <li class="post-item" style="list-style: none; margin-bottom: 0px;">
            <div class="post-meta" style="margin-bottom: -5px;">
                <span class="real-meta" style="color: #928374; font-size: 14px;">$date$</span>
                $if(categoryLabel)$<span class="date-meta" style="color: #928374; font-size: 14px;"> · $categoryLabel$</span>$endif$
                $if(readtime)$<span class="readtime-meta" style="color: #928374; font-size: 14px;"> · $readtime$</span>$endif$
            </div>
            <a class="post-link" href="$url$">$title$</a>
        </li>
    $endfor$
</ul>
